{% extends 'security/security.base.html.twig' %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
