<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Reesistencia Maker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
</head>
<body>
    {% block content %} {% endblock content %}
    <script src="{{ asset('build/app.js') }}"></script>

</body>
</html>
