{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'includes/css.html.twig' %}
{% endblock %}

{% block sidebar_search %} {% endblock %}


{% block logo_mini %}<b>R</b>MK{% endblock %}
{% block logo_large %} <b>Reesistencia</b> Maker {% endblock %}

{% block page_title %}Reesistencia Maker Management{% endblock %}

{% block page_content %}
    <div style="margin:24px 0">

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block navbar_start %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'includes/javascript.html.twig' %}
{% endblock %}

