{% extends 'base.html.twig' %}

{% block document_title %}Gestión de elementos imprimibles{% endblock %}
{% block page_title %}Imprimibles{% endblock %}
{% block page_subtitle %}Gestión de imprimibles{% endblock %}

{% block content %}
    {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
    <div class="box box-success p-3">
        <div class="box-header with-border">
            <h3 class="box-title">Actualizar imprimible</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div style="padding:10px">
            {{ form(form) }}

            {% if is_granted('thing_delete', thing) %}
                {% if thing.tasks.count <= 0 %}
                    <a class="btn btn-sm btn-danger"
                       id="confirm-delete-btn"
                       data-toggle="modal" data-original-title="Delete" data-target=".delete-modal">
                        <i class="fa fa-trash"></i> Borrar</a>
                {% endif %}

                <div class="modal fade delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">Borrar {{ form.vars.data.model }}</h4>
                            </div>
                            <div class="modal-body">
                                <h4>¿Estas seguro?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                {{ btn.link_button('Borrar', path('things.delete', {thingId: form.vars.data.id}), 'fa fa-trash', 'danger', 'sm') }}
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
