{% extends 'base.html.twig' %}

{% block document_title %}Gestión de lotes{% endblock %}
{% block page_title %}Lotes{% endblock %}
{% block page_subtitle %}Gestión de lotes{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

