{% extends 'base.html.twig' %}

{% block document_title %}Gestión de sitios{% endblock %}
{% block page_title %}Sitios{% endblock %}
{% block page_subtitle %}Gestión de sitios{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
